@font-face {
  src: url("../fonts/Huji-Regular.otf");
  font-family: Huji-regular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
  font-family: "Assistant", sans-serif;
}

body {
  background-color: #94d0e0;
}

header {
  display: flex;
  align-items: center;
}

header img {
  height: 200px;
}

header h1 {
  font-family: Huji-regular;
  font-size: 3rem;
  color: #1a1f49;
}

header h2 {
  margin-top: 1.5rem;
  font-family: Huji-regular;
  font-size: 2.6rem;
  color: #1a1f49;
}

.main {
  width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#input-text {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  border-radius: 2rem;
  border: #1a1f49 3px solid;
  width: 30rem;
  font-family: "Assistant", sans-serif;
  padding: 0 1rem;
  background: none;
  color: #1a1f49;
}

.numpad {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.numpad #submit {
  width: 100%;
  background-color: #5cb797;
}

.numpad .row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

button {
  width: 7rem;
  height: 7rem;
  margin: 0.2rem;
  font-size: 4rem;
  padding: 0.5rem 1rem;
  background: #ffff;
  border-radius: 1.3rem;
  border: #1a1f49 3px solid;
  cursor: pointer;
}

button:active {
  background-color: #1a1f49;
  color: #fff;
  transition: 0.2s;
}

/* injected objects!!!------------- */

.has-arrived {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7));
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
}
